* {
  margin: 0;
  padding: 0;
}

.heading_style {
  font-weight: bold;
  font-family: fantasy;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
  background-color: gainsboro;
  padding: 2.5rem 0;
}

.emoji_pic {
  font-size: 4rem !important;
  margin-bottom: 0;
  margin-top: 21px;
}

.card {
  border: 2px solid black;
  width: 30%;
  padding: 27px 5px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 21px;
  margin-bottom: 3rem;
}

.card p {
  margin: 5px 0;
  font-family: monospace;
  font-size: 17px;
}

.card h2 {
  margin-bottom: 0px;
  font-size: 26px;
  font-family: math;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* FILTER OPTION CSS */
.dropdown h3 {
  font-size: 2rem;
  margin: 20px 0;
}

.dropdown {
  background-color: whitesmoke;
  padding: 21px 59px;
  width: 40%;
  margin: auto;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 22px;
}

.dropdown_label {
  font-size: 18px;
  font-family: system-ui;
}

.dropdown_select {
  padding: 8px;
  width: 15rem;
  border-radius: 8px;
  margin-left: 15px;
  font-size: 12px;
  border: 2px solid black;
}



/* RESPONSIVENESS CSS */
@media (max-width : 850px) {
  .dropdown_label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .dropdown {
    width: 55%;
  }

  .dropdown_select {
    margin-left: 0;
  }

  .card {
    width: 48%;
    padding: 27px 26px;
  }
}


@media (max-width : 450px) {
  * {
    margin: 0;
    padding: 0;
  }

  .heading_style {
    margin-bottom: 1rem;
    font-size: 2rem;
    padding: 2rem 0;
  }

  .dropdown {
    padding: 18px 40px;
  }

  .dropdown h3 {
    font-size: 1.5rem;
    margin: 11px 0;
  }

  .dropdown_label {
    font-size: 14px;
    gap: 10px;
  }

  .dropdown_select {
    padding: 6px;
    width: 11rem;
    border-radius: 8px;
    font-size: 11px;
    border: 1px solid black;
  }

  .dropdown {
    width: 55%;
  }

  .card {
    width: 48%;
    padding: 27px 26px;
  }

  .card h2 {
    font-size: 15px;
  }

  .card p {
    font-size: 12px;
  }

  .emoji_pic {
    font-size: 3rem !important;
    margin-bottom: 13px !important;
  }
}